    <%- include('./partials/header.ejs')%>

    <title>Log In</title>
</head>
<body>
    <div class="container ">
        <div class="row m-2">
            <div class="col col-lg-5 mx-auto  p-4 form_card">
           
                <h1 class="text-center">Log In</h1>


                <form action="/user/login" method="POST">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
            
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" class="form-label" required>
                    </div>
                    <div class="d-grid col">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
               
                  </form>
                 <div class="mt-2 text-center">
                     <span class="d-inline">Don't have an account</span>
                     <a href="/user/register">Create Account</a>
                 </div>
            </div>
        </div>
       
    </div>
   
    
</body>
</html>